<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>com.saveLife.Controller.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <display-name>saveLife</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignUp</display-name>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>com.saveLife.Controller.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>com.saveLife.Controller.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.saveLife.Controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.saveLife.Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientListServlet</display-name>
    <servlet-name>PatientListServlet</servlet-name>
    <servlet-class>com.saveLife.Controller.PatientListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientListServlet</servlet-name>
    <url-pattern>/PatientListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientListServlets</display-name>
    <servlet-name>PatientListServlets</servlet-name>
    <servlet-class>com.saveLife.Controller.PatientListServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientListServlets</servlet-name>
    <url-pattern>/PatientListServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MedicalReportsServlet</display-name>
    <servlet-name>MedicalReportsServlet</servlet-name>
    <servlet-class>com.saveLife.Controller.MedicalReportsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicalReportsServlet</servlet-name>
    <url-pattern>/MedicalReportsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HospitalServlet</display-name>
    <servlet-name>HospitalServlet</servlet-name>
    <servlet-class>com.saveLife.Controller.HospitalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HospitalServlet</servlet-name>
    <url-pattern>/HospitalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BloodServlet</display-name>
    <servlet-name>BloodServlet</servlet-name>
    <servlet-class>com.saveLife.Controller.BloodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BloodServlet</servlet-name>
    <url-pattern>/BloodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>emergencyServlet</display-name>
    <servlet-name>emergencyServlet</servlet-name>
    <servlet-class>com.saveLife.Controller.emergencyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emergencyServlet</servlet-name>
    <url-pattern>/emergencyServlet</url-pattern>
  </servlet-mapping>
</web-app>